<h5 class="float-right">Tổng số bản ghi : {{pointSearch.totalRecords}}</h5>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">LỚP HỌC</th>
    <th scope="col">MÔN HỌC</th>
    <th scope="col">NGÀY KHAI GIẢNG</th>
    <th scope="col">NGÀY KẾT THÚC</th>
    <th scope="col">ĐIỂM 15'</th>
    <th scope="col">ĐIỂM 45'</th>
    <th scope="col">ĐIỂM 90'</th>
    <th scope="col">ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cl of pointModel; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td>{{cl.tenLop}}</td>
    <td>{{cl.tenMonHoc}}</td>
    <td>{{cl.ngayKhaiGiang| date: 'dd-MM-yyyy'}}</td>
    <td>{{cl.ngayKetThuc| date: 'dd-MM-yyyy'}}</td>
    <td>{{cl.diemMieng}}</td>
    <td>{{cl.diem15p}}</td>
    <td>{{cl.diem90p}}</td>
    <td>
      <div class="form-group">
          <i class="glyphicon glyphicon-zoom-in"></i> <a (click)="goToDetail(cl)">Chi tiết</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<app-paginator [searchObject]="pointSearch" (searchFunction)="getAllHocBa()"></app-paginator>
