<div class="x_panel">
  <div class="x_title">
    <h2>Quản lý hạng mục</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>Tìm kiếm </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
            <div class="row">
<!--              <div class="col-md-6 item form-group">-->
<!--                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Tên hạng mục<span-->
<!--                  class="required">*</span>-->
<!--                </label>-->
<!--                <div class="col-md-6 col-sm-6 ">-->
<!--                  <input type="text" id="last-name" name="tenhangmuc" required="required" class="form-control"-->
<!--                         (focus)="hmSearch.tenhangmuc = '' ; doSearch()" [(ngModel)]="hmSearch.tenhangmuc">-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="HangMuc">Hạng mục <span
                  class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <select class="form-control form-control-sm" id="HangMuc" [formControl]="hm">
                    <option selected  disabled >-- Hạng mục --</option>
                    <option value="">All</option>
                    <option *ngFor="let hm of hmList" [value]="hm.tenhangmuc">{{hm.tenhangmuc}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="tenchude">Tên chủ đề<span
                  class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" id="tenchude" name="tenchude" required="required"
                         class="form-control" (focus)="cdSearch.tenchude = '' ; doSearch()"
                         [(ngModel)]="cdSearch.tenchude">
                </div>
              </div>
            </div>
            <div class="item form-group">
              <div class="col-md-8 col-sm-6 offset-md-5">
                <button type="submit" class="btn btn-success" (click)="doSearch()">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="x_content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-box table-responsive">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  (click)="onCreate()">
            Thêm mới chủ đề
          </button>
          <h5 class="float-right">Tổng số bản ghi : {{cdSearch.totalRecords}}</h5>
          <table id="datatable" class="table table-striped table-bordered dataTable" style="width:100%">
            <thead>
            <tr>
              <th>STT</th>
              <th>Mã chủ đề</th>
              <th>Tên chủ đề</th>
              <th>Nội dung</th>
              <th>Tên hạng mục</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cd of chudeList; let i =index">
              <td>{{i + 1}}</td>
              <td>{{cd.machude}}</td>
              <td>{{cd.tenchude}}</td>
              <td>{{cd.noidung}}</td>
              <td>{{cd.tenHangmuc}}</td>
              <td>
                <div class="form-group">
                  <button class="btn btn-primary" (click)="onEdit(cd)">Edit</button>
                  <button class="btn btn-danger" (click)="onDelete(cd.id)">Delete</button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <app-paginator (searchFunction)="fetch()" [searchObject]="cdSearch"></app-paginator>
      </div>
    </div>
  </div>
</div>
