<div class="post" *ngFor="let bv of baiVietTotal | paginate: {itemsPerPage: baiVietSearchTotal.pageSize, currentPage: baiVietSearchTotal.page, totalItems: baiVietSearchTotal.totalRecords} ">
  <div class="wrap-ut pull-left">
    <div class="userinfo pull-left">
      <div class="avatar">
        <img *ngIf="bv.imageUser!=null" [src]="bv.imageUser"  alt="" class="avatar-logo">
        <img *ngIf="bv.imageUser === null"  src="../../../../assets/img/default.png" class="avatar-logo">
        <div class="status green">&nbsp;</div>
      </div>
      <div>
        <a style="text-decoration: none" routerLink="/profile/profile-emp/{{bv.idThe}}"><span>{{bv.nameUser}}</span></a>
      </div>
      <div class="icons">
        <img src="../../../../assets/img/icon1.jpg" alt=""><img src="../../../../assets/img/icon4.jpg" alt="">
      </div>
      <div class="icons" style="display: contents!important;">
        <button class="button-icons" (click)="clickLike()" [disabled]="isLike"><i class="fa fa-thumbs-up blue"><span>{{bv.luotthich}}</span></i></button>
        <button class="button-icons" (click)="clickDislike()" [disabled]="isLike"><i class="fa fa-thumbs-down"><span>{{bv.luotkhongthich}}</span></i></button>
      </div>
    </div>
    <div class="posttext pull-left">
      <h2><a routerLink="/all-topic/topic/{{bv.idBV}}">{{bv.titleBV}}</a></h2>
      <div>
        {{bv.noidungBV}}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="postinfo pull-left">
    <div class="comments">
      <div class="commentbg">
         {{bv.cmCount+ bv.rcmCount}}
        <div class="mark"></div>
      </div>

    </div>
    <div class="views"><i class="fa fa-eye"></i> 1,568</div>
    <div class="time"><i class="fa fa-clock-o"></i>{{bv.createDate| date: 'dd-MM-yyyy'}}</div>
  </div>
  <div class="clearfix"></div>
</div><!-- POST -->
<app-paginator [searchObject]="baiVietSearchTotal" (searchFunction)="getQuery()"></app-paginator>
<!--<pagination-controls (pageChange)="baiVietSearchTotal.page = $event"></pagination-controls>-->
