<div id="main">
  <form [formGroup]="userForm" (ngSubmit)="onEdit()">
    <div class="col-md-12 text-center">
      <div class="form-group">
        <label>Chức vụ :</label>
        <span class="font-weight-bold color1"> {{roleUser}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 border-right">
        <div class="col-md-12"><!--left col-->
          <div *ngIf="userProfile && userProfile.imagePath && !preview">
            <!--                <p>{{profileEmp.image}}</p>-->
            <img [src]="userProfile.imagePath" class="avatar-preview"
                 alt="t">
          </div>
          <div class="form-group" *ngIf="!userProfile.imagePath && !preview">
            <img src="../../../../assets/img/default.png" class="avatar-preview">
          </div>
          <!--        Image Preview -->
          <div class="form-group">
            <div class="preview" *ngIf="preview && preview !== null">
              <img class="avatar-preview" [src]="preview" [alt]="userProfile.name">
            </div>
          </div>
          <!-- File Input -->
          <div class="form-group">
            <input style="margin-left: 70px" type="file" (change)="uploadFile($event)" id="image">
          </div>
          <hr>
          <br>
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Tổng số bài viết</strong></span>
              {{userProfile.totalBV}}
            </li>
          </ul>
        </div><!--/col-3-->
      </div>
      <div class="col-xl-8">
        <div class="row">


          <div class="col-xl-6">
            <div class="col-xl-12">
              <div class="form-group">
                Họ và tên: <input class="form-control form-control-sm" type="text" placeholder="Họ tên" id="HoTen"
                                  [value]="userProfile.name" [disabled]="true">
              </div>
            </div>
            <div class="col-xl-12">
              <div class="form-group">
                Mã thẻ: <input class="form-control form-control-sm" type="text" id="maThe" [value]="userProfile.maThe"
                               name="maThe" [disabled]="true">
              </div>
            </div>
<!--            <div class="col-xl-12">-->
<!--              <div class="form-group">-->
<!--                Lớp: <input class="form-control form-control-sm" type="text" id="tenLop" [value]="userProfile.tenLop"-->
<!--                            name="tenLop" [disabled]="true">-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              Ngày bắt đầu: <input class="form-control form-control-sm" type="text" id="ngaysinh"
                                   [value]="userProfile.ngaysinh| date: 'dd-MM-yyyy'"
                                   name="ngaysinh" [disabled]="true">
            </div>
            <div class="form-group">
              Ngày cấp: <input class="form-control form-control-sm" type="text" id="ngaycap"
                               [value]="userProfile.ngaycap| date: 'dd-MM-yyyy'"
                               name="ngaycap" [disabled]="true">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border border-bottom-0"></div>
    <hr/>
    <div class="col-xl-12">
      <ul class="nav nav-tabs" role="tablist">
        <div class="col-xl-2" *ngIf="this.userProfile.role === 'ROLE_TEACHER'">
          <li role="presentation" class="active">
            <a style="padding-right: 96px;" (click)="goMain()">Thông tin cá nhân</a>
          </li>
        </div>
        <div class="col-xl-2"
             *ngIf="this.userProfile.role === 'ROLE_STUDENT' || this.userProfile.role === 'ROLE_ADMIN'">
          <li role="presentation" class="active">
            <a style="padding-right: 96px;" (click)="goMain()">Thông tin cá nhân</a>
          </li>
        </div>
        <div class="col-xl-2" *ngIf="this.userProfile.role === 'ROLE_STUDENT'">
          <li role="presentation" class="active">
            <a style="padding-right: 167px;" (click)="goHocBa()">Học bạ</a>
          </li>
        </div>
        <div class="col-xl-2" *ngIf="this.userProfile.role === 'ROLE_TEACHER'">
          <li role="presentation">
            <a style="padding-right: 161px;" (click)="goToClass()">Lớp học</a>
          </li>
        </div>
        <div class="col-xl-2"
             *ngIf="this.userProfile.role === 'ROLE_STUDENT' || this.userProfile.role === 'ROLE_ADMIN'">
          <li role="presentation">
            <a style="padding-right: 161px;" (click)="goToClass()">Lớp học</a>
          </li>
        </div>
        <div class="col-xl-4" *ngIf="this.userProfile.role === 'ROLE_TEACHER'">
          <li role="presentation">
            <a style="padding-right: 366px;" (click)="goToPoints()">Cập nhật điểm</a>
          </li>
        </div>
        <div class="col-xl-3"
             *ngIf="this.userProfile.role === 'ROLE_STUDENT' || this.userProfile.role === 'ROLE_ADMIN'">
          <li role="presentation">
            <a style="padding-right: 218px;" (click)="goCheckIn()">Lịch sử checkin</a>
          </li>
        </div>
        <div class="col-xl-2" *ngIf="this.userProfile.role === 'ROLE_TEACHER'">
          <li role="presentation">
            <a style="padding-right: 110px;" (click)="goCheckIn()">Lịch sử checkin</a>
          </li>
        </div>
        <div class="col-xl-2" *ngIf="this.userProfile.role === 'ROLE_TEACHER'">
          <li role="presentation">
            <a style="padding-right: 110px;" (click)="goTaiLieu()">Quản lí tài liệu</a>
          </li>
        </div>
        <div class="col-xl-3"
             *ngIf="this.userProfile.role === 'ROLE_STUDENT' || this.userProfile.role === 'ROLE_ADMIN'">
          <li role="presentation">
            <a style="padding-right: 210px;" (click)="goThongKe()">Thống kê tương tác</a>
          </li>
        </div>
      </ul>
    </div>
    <div class="container" style="padding-top: 10px" *ngIf="switchTab === 1">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            Họ và tên: <input class="form-control form-control-sm" type="text" placeholder="Họ tên" id="HoTen"
                              formControlName="name">
            <div *ngIf="f.name.errors && (f.name.dirty || f.name.touched)" class="text-danger">
              <div *ngIf="f.name.errors.required">Tên không được để trống</div>
            </div>
          </div>
          <div class="form-group">
            Ngày sinh: <input class="form-control form-control-sm" type="date" placeholder="Ngày sinh" id="ngaysinh"
                              formControlName="ngaysinh">
            <div *ngIf="f.ngaysinh.errors && (f.ngaysinh.dirty || f.ngaysinh.touched)" class="text-danger">
              <div *ngIf="f.ngaysinh.errors.required">Ngày sinh không được để trống</div>
            </div>
          </div>
          <div class="form-group">
            Số điện thoại phụ huynh: <input class="form-control form-control-sm" type="text"
                                            placeholder="nhập số điện thoại"
                                            id="sodt"
                                            formControlName="sodt">
            <div *ngIf="f.sodt.errors && (f.sodt.dirty || f.sodt.touched)" class="text-danger">
              <div *ngIf="f.sodt.errors.required">Số điện thoại không được để trống</div>
            </div>
          </div>
          <div class="form-group">
            Địa chỉ: <input class="form-control form-control-sm" type="text" placeholder="nhập nơi ở hiện tại"
                            id="noiohientai"
                            formControlName="noiohientai">
            <div *ngIf="f.noiohientai.errors && (f.noiohientai.dirty || f.noiohientai.touched)" class="text-danger">
              <div *ngIf="f.noiohientai.errors.required">Địa chỉ không được để trống</div>
            </div>
          </div>
          <div *ngIf="this.userProfile.role === 'ROLE_TEACHER'">
<!--            <div class="form-group">-->
<!--              Môn học <select formControlName="tenMH" id="tenMH">-->
<!--              <option value="" selected disabled>&#45;&#45;Chọn môn học&#45;&#45;</option>-->
<!--              <option *ngFor="let mh of monHocList" [value]="mh.tenmonhoc">{{mh.tenmonhoc}}</option>-->
<!--            </select>-->
<!--              &lt;!&ndash;              Môn học: <input class="form-control form-control-sm" type="text" placeholder="nhập tên môn học" id="tenMH"&ndash;&gt;-->
<!--              &lt;!&ndash;                              formControlName="tenMH">&ndash;&gt;-->
<!--              <div *ngIf="f.tenMH.errors && (f.tenMH.dirty || f.tenMH.touched)" class="text-danger">-->
<!--                <div *ngIf="f.tenMH.errors.required">Tên môn học không được để trống</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              Hạng mục <select formControlName="tenHangMuc" id="tenHangMuc">-->
<!--              <option value="" selected disabled>&#45;&#45;Chọn hạng mục&#45;&#45;</option>-->
<!--              <option *ngFor="let hm of hangMucModel" [value]="hm.tenhangmuc">{{hm.tenhangmuc}}</option>-->
<!--            </select>-->
<!--              &lt;!&ndash;              Hạng mục: <input class="form-control form-control-sm" type="text" placeholder="nhập tên hạng mục" id="tenHangMuc"&ndash;&gt;-->
<!--              &lt;!&ndash;                               formControlName="tenHangMuc">&ndash;&gt;-->
<!--              <div *ngIf="f.tenHangMuc.errors && (f.tenHangMuc.dirty || f.tenHangMuc.touched)" class="text-danger">-->
<!--                <div *ngIf="f.tenHangMuc.errors.required">Tên hạng mục không được để trống</div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            Giới tính: <select formControlName="gioitinh" id="gioitinh">
            <option value="" selected disabled>--Chọn giới tính--</option>
            <option [value]="Nam">Nam</option>
            <option [value]="Nu">Nữ</option>
          </select>
            <!--            Giới tính: <input class="form-control form-control-sm" type="text" placeholder="nhập giới tính" id="gioitinh"-->
            <!--                              formControlName="gioitinh">-->
            <div *ngIf="f.gioitinh.errors && (f.gioitinh.dirty || f.gioitinh.touched)" class="text-danger">
              <div *ngIf="f.gioitinh.errors.required">Giới tính không được để trống</div>
            </div>
          </div>
          <div class="form-group">
            Email: <input class="form-control form-control-sm" type="text" placeholder="nhập email" id="email"
                          (change)="checkMailExist($event)"
                          formControlName="email">
            <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched)" class="text-danger">
              <div *ngIf="f.email.errors.required">Email không được để trống</div>
              <div *ngIf="f.email.errors.pattern">Email không hợp lệ</div>
            </div>
          </div>
          <div class="form-group">
            Mã thẻ: <input class="form-control form-control-sm" type="text" placeholder="Mã thẻ" id="maThe"
                           [disabled]="true" [value]="userProfile.maThe">
          </div>
<!--          <div *ngIf="this.userProfile.role === 'ROLE_TEACHER'">-->
<!--            <div class="form-group">-->
<!--              Mã giáo viên: <input class="form-control form-control-sm" type="text" placeholder="Mã giáo viên"-->
<!--                                   id="HoTen"-->
<!--                                   [disabled]="true" [value]="userProfile.maGV">-->
<!--            </div>-->
<!--          </div>-->
          <div *ngIf="this.userProfile.role === 'ROLE_TEACHER'">
<!--            <div class="form-group">-->
<!--              Lớp học: <select formControlName="tenLop" id="tenLop">-->
<!--              <option value="" selected disabled>&#45;&#45;Chọn lớp học&#45;&#45;</option>-->
<!--              <option *ngFor="let lo of lopHocModel" [value]="lo.id">{{lo.tenlop}}</option>-->
<!--            </select>-->
<!--              &lt;!&ndash;              Lớp học: <input class="form-control form-control-sm" type="text" placeholder="nhập tên lớp" id="tenLop"&ndash;&gt;-->
<!--              &lt;!&ndash;                              formControlName="tenLop">&ndash;&gt;-->
<!--              <div *ngIf="f.tenLop.errors && (f.tenLop.dirty || f.tenLop.touched)" class="text-danger">-->
<!--                <div *ngIf="f.tenLop.errors.required">Tên lớp không được để trống</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              Kíp dạy: <select formControlName="kipDay" id="kipDay">-->
<!--              <option value="" selected disabled>&#45;&#45;Chọn kíp dạy&#45;&#45;</option>-->
<!--              <option [value]="kip1">{{kip1}}</option>-->
<!--              <option [value]="kip2">{{kip2}}</option>-->
<!--              <option [value]="kip3">{{kip3}}</option>-->
<!--              <option [value]="kip4">{{kip4}}</option>-->
<!--              <option [value]="kip5">{{kip5}}</option>-->
<!--            </select>-->
              <!--              Kíp dạy: <input class="form-control form-control-sm" type="text" placeholder="nhập kíp dạy" id="kipDay"-->
              <!--                              formControlName="kipDay">-->
<!--              <div *ngIf="f.kipDay.errors && (f.kipDay.dirty || f.kipDay.touched)" class="text-danger">-->
<!--                <div *ngIf="f.kipDay.errors.required">Kíp dạy không được để trống</div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="container" style="padding-top: 10px" *ngIf="switchTab === 2">
    <app-profile-hocba></app-profile-hocba>
  </div>
  <div class="container" style="padding-top: 10px" *ngIf="switchTab === 3">
    <app-profile-class></app-profile-class>
  </div>
  <div class="container" style="padding-top: 10px" *ngIf="switchTab === 4">
    <app-profile-points></app-profile-points>
  </div>
  <div class="container" style="padding-top: 10px" *ngIf="switchTab === 5">
    <app-profile-checkin></app-profile-checkin>
  </div>
  <div class="container" style="padding-top: 10px" *ngIf="switchTab === 6">
    <app-profile-tailieu></app-profile-tailieu>
  </div>
  <div class="container" style="padding-top: 10px" *ngIf="switchTab === 7">
    <app-profile-thongke></app-profile-thongke>
  </div>
  <div class="col-md-12 form-group" *ngIf="switchTab === 1">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-success" (click)="onEdit()" style="padding-right: 143px"
                [disabled]="userForm.invalid || fileSelect"><span class="text-center">Cập nhật</span></button>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
