<div class="modal-header">
  <h4 class="modal-title">Đăng Nhập</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <div class="col-10 mx-auto">
          <div class="form-group">
            <label for="exampleInputEmail1">Email </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Xác nhận mật khẩu</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary">Đăng ký</button>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onCancle()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
