<div class="post">
  <div class="wrap-ut pull-left">
    <div class="userinfo pull-left">
      <div class="avatar">
        <img *ngIf="baiViet.imageAvatar!=null" [src]="baiViet.imageAvatar" alt="" class="avatar-logo">
        <img *ngIf="baiViet.imageAvatar === null" src="../../../../assets/img/default.png" class="avatar-logo">
        <div class="status green">&nbsp;</div>
      </div>
      <div>
        <a style="text-decoration: none"
           routerLink="/profile/profile-emp/{{baiViet.idUser}}"><span>{{baiViet.userName}}</span></a>
      </div>
      <div class="icons">
        <img src="../../../../assets/img/icon1.jpg" alt=""><img src="../../../../assets/img/icon4.jpg" alt="">
      </div>
      <div class="icons" style="display: contents!important;">
        <button class="button-icons"><i class="fa fa-thumbs-up blue"><span>{{baiViet.luotthich}}</span></i></button>
        <button class="button-icons"><i class="fa fa-thumbs-down"><span>{{baiViet.luotkhongthich}}</span></i></button>
      </div>
    </div>
    <div class="posttext pull-left">
      <h2><a routerLink="/all-topic/topic/{{baiViet.idBaiViet}}">{{baiViet.title}}</a></h2>
      <div [innerHTML]="baiViet.noidung">
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="postinfo pull-left">
    <div class="comments" (click)="showComment()">
      <div class="commentbg">
        {{baiViet.totalComment}}
        <div class="mark"></div>
      </div>

    </div>
    <div class="views"><i class="fa fa-eye"></i> {{baiViet.viewCounts}}</div>
    <div class="time"><i class="fa fa-clock-o"></i>{{baiViet.createDate | date: 'dd-MM-yyyy'}}</div>

  </div>
  <div class="clearfix"></div>
  <div class="form-group">
    <button class="comment-reply reply-popup"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>
    <button class="fa-share"><i class="fa fa-share" aria-hidden="true"></i> Share</button>
  </div>
  <hr class="border-bottom p-2"/>

  <!-- comment and repcomment -->
  <div class="container">
    <div class="comment-box add-comment reply-box">
            <span class="commenter-pic">
              <img src="{{userProfile.imagePath}}" class="img-fluid img-avt-comment">
            </span>
      <span>{{userProfile.name}}</span>
      <span class="commenter-name">
              <ckeditor [editor]="editor" [(ngModel)]="commentContent" (ready)="onReady($event)"
                        placeholder="Add a public reply" name="Add Comment"></ckeditor>
              <button type="submit" class="btn btn-default" (click)="postComment(baiViet.id)">Reply</button>
              <button type="cancel" class="btn btn-default reply-popup">Cancel</button>
            </span>
    </div>
    <!--    <div class="post-comments">-->
    <!--      &lt;!&ndash;      <form>&ndash;&gt;-->
    <!--      <div class="form-group">-->
    <!--        <label for="comment">Your Comment</label>-->
    <!--        <ckeditor [editor]="editor" [(ngModel)]="commentContent" (ready)="onReady($event)"></ckeditor>-->
    <!--      </div>-->
    <!--      <button type="submit" (click)="postComment()" class="btn btn-default">Send</button>-->
    <!--      &lt;!&ndash;      </form>&ndash;&gt;-->
    <!--      <div class="comments-nav">-->
    <!--        <ul class="nav nav-pills">-->
    <!--          <li role="presentation" class="dropdown">-->
    <!--            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"-->
    <!--               aria-expanded="false">-->
    <!--              there are 2593 comments <span class="caret"></span>-->
    <!--            </a>-->
    <!--            <ul class="dropdown-menu">-->
    <!--              <li><a href="#">Best</a></li>-->
    <!--              <li><a href="#">Hot</a></li>-->
    <!--            </ul>-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--      <div class="row">-->
    <!--        <div class="media">-->
    <!--          &lt;!&ndash; first comment &ndash;&gt;-->
    <!--          <div class="media-heading">-->
    <!--            <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseOne"-->
    <!--                    aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus"-->
    <!--                                                                                aria-hidden="true"></span></button>-->
    <!--&lt;!&ndash;            <span class="label label-info">12314</span> terminator 12 hours ago&ndash;&gt;-->
    <!--          </div>-->
    <!--          <div class="panel-collapse collapse in" id="collapseOne">-->
    <!--            <div class="media-left">-->
    <!--              <div class="vote-wrap">-->
    <!--                <div class="save-post">-->
    <!--                  <a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>-->
    <!--                </div>-->
    <!--                <div class="vote up">-->
    <!--                  <i class="glyphicon glyphicon-menu-up"></i>-->
    <!--                </div>-->
    <!--                <div class="vote inactive">-->
    <!--                  <i class="glyphicon glyphicon-menu-down"></i>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              &lt;!&ndash; vote-wrap &ndash;&gt;-->
    <!--            </div>-->
    <!--            &lt;!&ndash; media-left &ndash;&gt;-->
    <!--            <div class="media-body">-->
    <!--              <p>yazmayın artık amk, görmeyeyim sol framede. insan bi meraklanıyor, ümitleniyor. sonra yine özlem dolu-->
    <!--                yazıları görüp hayal kırıklığıyla okuyorum.</p>-->
    <!--              <div class="comment-meta">-->
    <!--                <span><a href="#">delete</a></span>-->
    <!--                <span><a href="#">report</a></span>-->
    <!--                <span><a href="#">hide</a></span>-->
    <!--                <span>-->
    <!--                        <a class="" role="button" data-toggle="collapse" href="#replyCommentT" aria-expanded="false"-->
    <!--                           aria-controls="collapseExample">reply</a>-->
    <!--                      </span>-->
    <!--                <div class="collapse" id="replyCommentT">-->
    <!--                  <form>-->
    <!--                    <div class="form-group">-->
    <!--                      <label for="comment">Your Comment</label>-->
    <!--                      <textarea name="comment" class="form-control" rows="3"></textarea>-->
    <!--                    </div>-->
    <!--                    <button type="submit" class="btn btn-default">Send</button>-->
    <!--                  </form>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              &lt;!&ndash; comment-meta &ndash;&gt;-->
    <!--              <div class="media">-->
    <!--                &lt;!&ndash; answer to the first comment &ndash;&gt;-->
    <!--                <div class="media-heading">-->
    <!--                  <button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse"-->
    <!--                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseExample"><span-->
    <!--                    class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>-->
    <!--&lt;!&ndash;                  <span class="label label-info">12314</span> vertu 12 sat once yazmis&ndash;&gt;-->
    <!--                </div>-->
    <!--                <div class="panel-collapse collapse in" id="collapseTwo">-->
    <!--                  <div class="media-left">-->
    <!--                    <div class="vote-wrap">-->
    <!--                      <div class="save-post">-->
    <!--                        <a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>-->
    <!--                      </div>-->
    <!--                      <div class="vote up">-->
    <!--                        <i class="glyphicon glyphicon-menu-up"></i>-->
    <!--                      </div>-->
    <!--                      <div class="vote inactive">-->
    <!--                        <i class="glyphicon glyphicon-menu-down"></i>-->
    <!--                      </div>-->
    <!--                    </div>-->
    <!--                    &lt;!&ndash; vote-wrap &ndash;&gt;-->
    <!--                  </div>-->
    <!--                  &lt;!&ndash; media-left &ndash;&gt;-->
    <!--                  <div class="media-body">-->
    <!--                    <p>yazmayın artık amk, görmeyeyim sol framede. insan bi meraklanıyor, ümitleniyor. sonra yine özlem-->
    <!--                      dolu yazıları görüp hayal kırıklığıyla okuyorum.</p>-->
    <!--                    <div class="comment-meta">-->
    <!--                      <span><a href="#">delete</a></span>-->
    <!--                      <span><a href="#">report</a></span>-->
    <!--                      <span><a href="#">hide</a></span>-->
    <!--                      <span>-->
    <!--                              <a class="" role="button" data-toggle="collapse" href="#replyCommentThree"-->
    <!--                                 aria-expanded="false" aria-controls="collapseExample">reply</a>-->
    <!--                            </span>-->
    <!--                      <div class="collapse" id="replyCommentThree">-->
    <!--                        <form>-->
    <!--                          <div class="form-group">-->
    <!--                            <label for="comment">Your Comment</label>-->
    <!--                            <textarea name="comment" class="form-control" rows="3"></textarea>-->
    <!--                          </div>-->
    <!--                          <button type="submit" class="btn btn-default">Send</button>-->
    <!--                        </form>-->
    <!--                      </div>-->
    <!--                    </div>-->
    <!--                    &lt;!&ndash; comment-meta &ndash;&gt;-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; comments &ndash;&gt;-->

    <!--              </div>-->
    <!--              &lt;!&ndash; answer to the first comment &ndash;&gt;-->

    <!--            </div>-->
    <!--          </div>-->
    <!--          &lt;!&ndash; comments &ndash;&gt;-->

    <!--        </div>-->
    <!--        &lt;!&ndash; first comment &ndash;&gt;-->

    <!--        &lt;!&ndash; first comment &ndash;&gt;-->
    <!--      </div>-->

    <!--    </div>-->
    <!--    &lt;!&ndash; post-comments &ndash;&gt;-->
  </div>
</div><!-- POST -->

