<div class="x_panel">
  <div class="x_title">
    <h2>Quản lý Bài viết</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>Tìm kiếm </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
            <div class="row">
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="tenChuDe">Chủ đề<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <select id="tenChuDe" [formControl]="cdF">
                    <option selected disabled>--Chủ đề--</option>
                    <option value="">All</option>
                    <option *ngFor="let cd of cdList" [value]="cd.tenChude">{{cd.tenChude}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Trạng thái <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <select class="form-control form-control-sm" id="active" [formControl]="acF">
                    <option disabled selected="">--Trạng thái --</option>
                    <option value="">All</option>
                    <option [value]="0">Chờ duyệt</option>
                    <option [value]="1">Đã duyệt</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="titleBV">Tên bài viết<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" id="titleBV" name="titleBV" required="required" class="form-control" [(ngModel)]="bvS.titleBV" (focus)="bvS.titleBV =''; search()">
                </div>
              </div>
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="noidung">Nội dung bài viết:<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" id="noidung" name="noidung" required="required" class="form-control" [(ngModel)]="bvS.noidung" (focus)="bvS.noidung =''; search()">
                </div>

              </div>
            </div>
            <div class="item form-group">
              <div class="col-md-8 col-sm-6 offset-md-5">
                <button type="submit" class="btn btn-success" (click)="search()">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="x_content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-box table-responsive">
          <h5 class="float-right">Tổng số bản ghi : {{bvS.totalRecords}}</h5>
          <table id="datatable" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
            <thead>
            <tr>
              <th>STT</th>
              <th>Chủ đề</th>
              <th>Tiêu đề</th>
              <th>Nội dung</th>
              <th>Like</th>
              <td>Dislike</td>
              <th>Ngày đăng</th>
              <th>Người đăng</th>
              <th>Trạng thái</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bv of bvL; let i = index">
              <td>{{i + 1}}</td>
              <td>{{bv.tenChuDe}}</td>
              <td>{{bv.titleBV}}</td>
              <td [innerHTML]="bv.noidung"></td>
              <td>{{bv.luotthich}}</td>
              <td>{{bv.luotkhongthich}}</td>
              <td>{{bv.createDate|date: 'dd-MM-yyyy'}}</td>
              <td>{{bv.username}}</td>
              <td *ngIf="bv.active === 0">Chờ duyệt</td>
              <td *ngIf="bv.active === 1">Đã duyệt</td>
              <td>
                <div class="form-group">
                  <button *ngIf="bv.active === 0" class="btn btn-danger" title="Mở" (click)="activeBV(bv.id)">Mở</button>
                  <button   *ngIf="bv.active === 1" class="btn btn-danger" title="Khóa" (click)="unActiveBV(bv.id)">Khóa</button>
                  <button class="btn btn-danger" title="Xóa" (click)="deleteBV(bv.id)">Xóa</button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <app-paginator [searchObject]="bvS" (searchFunction)="fetch()"></app-paginator>
      </div>
    </div>
  </div>
</div>
