<div class="x_panel">
  <div class="x_title">
    <h2>Quản lý Bài viết</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>Tìm kiếm </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
            <div class="row">
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Chủ đề<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" id="last-name" name="last-name" required="required" class="form-control">
                </div>
              </div>
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">Hạng mục <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <select class="form-control form-control-sm" id="HangMuc">
                    <option selected="">-- Hạng mục --</option>
                    <option value="DAI_6">Đại số 6</option>
                    <option value="HINHHOC_6">Hình học 6</option>
                    <option value="DAI_7">Đại số 7</option>
                    <option value="HINHHOC_7">Hình học 7</option>
                    <option value="DAI_8">Đại số 8</option>
                    <option value="HINHHOC_8">Hình học 8</option>
                    <option value="DAI_9">Đại số 9</option>
                    <option value="HINHHOC_9">Hình học 9</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Ngày đăng bài viết<span class="required">*</span>
                </label>
                <div class="col-md-3 col-sm-3 ">
                  <input type="text" id="last-name" name="last-name" required="required" class="form-control" placeholder="Từ ngày">
                </div>
                <div class="col-md-3 col-sm-3 ">
                  <input type="text" id="last-name" name="last-name" required="required" class="form-control" placeholder="Đến ngày">
                </div>
              </div>
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Tên bài viết<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" id="last-name" name="last-name" required="required" class="form-control">
                </div>

              </div>
            </div>
            <div class="item form-group">
              <div class="col-md-8 col-sm-6 offset-md-5">
                <button type="submit" class="btn btn-success">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="x_content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-box table-responsive">

          <table id="datatable" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
            <thead>
            <tr>
              <th>STT</th>
              <th>Chủ đề</th>
              <th>Mã bài viết</th>
              <th>Nội dung</th>
              <th>Like</th>
              <th>Ngày đăng</th>
              <th>Chi Tiết</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>NHOM1_TOAN6</td>
              <td>01-03-2020</td>
              <td>01-04-2020</td>
              <td>45</td>
              <td>0</td>
            </tr>
            <tr>
              <td>2</td>
              <td>NHOM2_TOAN6</td>
              <td>01-03-2020</td>
              <td>01-04-2020</td>
              <td>40</td>
              <td>0</td>
            </tr>
            <tr>
              <td>3</td>
              <td>NHOM1_TOAN7</td>
              <td>01-03-2020</td>
              <td>01-04-2020</td>
              <td>40</td>
              <td>0</td>
            </tr>
            <tr>
              <td>4</td>
              <td>NHOM2_TOAN7</td>
              <td>01-03-2020</td>
              <td>01-04-2020</td>
              <td>40</td>
              <td>0</td>
            </tr>
            <tr>
              <td>5</td>
              <td>NHOM1_TOAN8</td>
              <td>01-03-2020</td>
              <td>01-04-2020</td>
              <td>40</td>
              <td>0</td>
            </tr>
            <tr>
              <td>6</td>
              <td>NHOM2_TOAN8</td>
              <td>01-03-2020</td>
              <td>01-04-2020</td>
              <td>40</td>
              <td>0</td>
            </tr>
            <tr>
              <td>7</td>
              <td>NHOM1_TOAN9</td>
              <td>01-03-2020</td>
              <td>01-04-2020</td>
              <td>40</td>
              <td>0</td>
            </tr>
            <tr>
              <td>8</td>
              <td>NHOM2_TOAN9</td>
              <td>01-03-2020</td>
              <td>01-04-2020</td>
              <td>40</td>
              <td>0</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
