<div class="modal-header">
  <h4 class="modal-title">Tạo mới lớp</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<form [formGroup]="lopHocForm" (ngSubmit)="onSubmit()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="maLop">Mã lớp</label>
        <input type="text"
               class="form-control"
               formControlName="maLop" id="maLop"/>
        <div *ngIf="f.maLop.errors && (f.maLop.dirty || f.maLop.touched)" class="text-danger">
          <div *ngIf="f.maLop.errors.required">Mã lớp không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label for="tenlop">Tên lớp</label>
        <input type="text" class="form-control" formControlName="tenlop" id="tenlop">
        <div *ngIf="f.tenlop.errors && (f.tenlop.dirty || f.tenlop.touched)" class="text-danger">
          <div *ngIf="f.tenlop.errors.required">Tên lớp không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label for="siso">Sĩ số</label>
        <input type="text" class="form-control" formControlName="siso" id="siso">
        <div *ngIf="f.siso.errors && (f.siso.dirty || f.siso.touched)" class="text-danger">
          <div *ngIf="f.siso.errors.required">Sĩ số không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label for="thoigianbatdau">Thời gian bắt đầu</label>
        <input type="date" class="form-control" formControlName="thoigianbatdau" id="thoigianbatdau">
        <div *ngIf="f.thoigianbatdau.errors && (f.thoigianbatdau.dirty || f.thoigianbatdau.touched)"
             class="text-danger">
          <div *ngIf="f.thoigianbatdau.errors.required">Thời gian bắt đầu không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label for="thoigianketthuc">Thòi gian kết thúc</label>
        <input type="date" class="form-control" formControlName="thoigianketthuc" id="thoigianketthuc">
        <div *ngIf="f.thoigianketthuc.errors && (f.thoigianketthuc.dirty || f.thoigianketthuc.touched)"
             class="text-danger">
          <div *ngIf="f.thoigianketthuc.errors.required">hòi gian kết thúc không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label for="diadiem">Địa điểm </label>
        <input type="text" class="form-control" formControlName="diadiem" id="diadiem">
        <div *ngIf="f.diadiem.errors && (f.diadiem.dirty || f.diadiem.touched)" class="text-danger">
          <div *ngIf="f.diadiem.errors.required">Địa điểm không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label for="hocphi">Học phí </label>
        <input type="text" class="form-control" formControlName="hocphi" id="hocphi">
        <div *ngIf="f.hocphi.errors && (f.hocphi.dirty || f.hocphi.touched)" class="text-danger">
          <div *ngIf="f.hocphi.errors.required">Học phí không được để trống</div>
        </div>
      </div>
      <!--      <div class="form-group">-->
      <!--        <label for="maMonhoc">Mã môn học </label>-->
      <!--        <input type="text" class="form-control" formControlName="maMonhoc" id="maMonhoc">-->
      <!--        <div *ngIf="f.maMonhoc.errors && (f.maMonhoc.dirty || f.maMonhoc.touched)" class="text-danger">-->
      <!--          <div *ngIf="f.maMonhoc.errors.required">Mã môn học không được để trống</div>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="form-group">
        <label for="maMonhoc">Kíp dạy </label>
        <select formControlName="kipDay" id="kipDay">
          <option value="" selected disabled>--Chọn kíp dạy--</option>
          <option [value]="1">{{kip1}}</option>
          <option [value]="2">{{kip2}}</option>
          <option [value]="3">{{kip3}}</option>
          <option [value]="4">{{kip4}}</option>
          <option [value]="5">{{kip5}}</option>
        </select>
        <div *ngIf="f.kipDay.errors && (f.kipDay.dirty || f.kipDay.touched)" class="text-danger">
          <div *ngIf="f.kipDay.errors.required">Mã môn học không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label for="maMonhoc">Môn học </label>
        <select type="text" class="form-control" formControlName="maMonhoc" id="maMonhoc">
          <option *ngFor="let lo of mhEnti" [value]="lo.id">{{lo.tenmonhoc}}</option>
        </select>
        <div *ngIf="f.maMonhoc.errors && (f.maMonhoc.dirty || f.maMonhoc.touched)" class="text-danger">
          <div *ngIf="f.maMonhoc.errors.required">Mã môn học không được để trống</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            [disabled]="lopHocForm.invalid">
      ADD
    </button>
    <button class="btn btn-danger" #submitele
            (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
