<div class="modal-header">
  <h4 class="modal-title">Thay đổi mật khẩu</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-10 mx-auto">
          <form [formGroup]="passwordForm">
            <div class="form-group">
              <label for="oldpw">Mật khẩu cũ</label>
              <input type="password" class="form-control" id="oldpw" aria-describedby="oldpw"
                     formControlName="oldpw" name="oldpw"
                     placeholder="Nhập vào mật khẩu cũ" [ngClass]="{'is-invalid' : f.oldpw.errors}">
              <div *ngIf="f.oldpw.errors && (f.oldpw.dirty || f.oldpw.touched)" class="text-danger">
                <div *ngIf="f.oldpw.errors.required">Bạn cần nhập vào mật khẩu!</div>
              </div>
              <div class="form-group">
                <label for="newpw">Mật khẩu mới:</label>
                <input type="password" class="form-control" id="newpw" placeholder="Mật khẩu mới tối thiểu 8 ký tự"
                       formControlName="newpw" name="newpw">
                <div *ngIf="f.newpw.errors && (f.newpw.dirty || f.newpw.touched)" class="text-danger">
                  <div *ngIf="f.newpw.errors.required">Bạn cần nhập vào mật khẩu mới!</div>
                  <div *ngIf="f.newpw.errors.minLength">Mật khẩu có tối thiểu 8 ký tự!</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Nhập lại mật khẩu mới: </label>
                <input type="password" class="form-control" id="password" placeholder="Password"
                       name="password" (change)="pwCheck($event)">
                <div *ngIf="isNotMatch" class="text-danger">
                  Mật khẩu nhập vào không khớp!
                </div>
              </div>
            </div>
          </form>
          <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Xác nhận</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
