<div class="x_panel">
  <div class="x_title">
    <h2>Quản lý điểm</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>Tìm kiếm </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
            <div class="row">
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="maThe">Mã thẻ<span
                  class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input id="maThe" type="text" [(ngModel)]="pS.maThe" name="maThe" (focus)="pS.maThe = ''; doSearch()">
                </div>
              </div>
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="Name">Tên user: <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input id="Name" type="text" [(ngModel)]="pS.username" name="Name" (focus)="pS.username = ''; doSearch()">
                </div>
              </div>
            </div>
            <div class="item form-group">
              <div class="col-md-8 col-sm-6 offset-md-5">
                <button type="submit" class="btn btn-success" (click)="doSearch()">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="x_content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-box table-responsive">
          <h5 class="float-right">Tổng số bản ghi : {{pS.totalRecords}}</h5>
          <table id="datatable" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
            <thead>
            <tr>
              <th>STT</th>
              <th>Mã thẻ</th>
              <th>Họ và tên</th>
              <th>Điểm HS1</th>
              <th>Điểm HS2</th>
              <th>Điểm HS3</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of pL; let i = index">
              <td>{{i + 1}}</td>
              <td>{{p.maThe}}</td>
              <td>{{p.username}}</td>
              <td>{{p.diemHS1}}</td>
              <td>{{p.diemHS2}}</td>
              <td>{{p.diemHS3}}</td>
              <td>
                <div class="form-group">
                  <button class="btn btn-danger" title="Xóa" (click)="delete(p.id)">Xóa</button>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <app-paginator [searchObject]="pS" (searchFunction)="fetch()"></app-paginator>
      </div>
    </div>
  </div>
</div>
