<div class="x_panel">
  <div class="x_title">
    <h2>Danh sách học sinh đăng ký lớp</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>Tìm kiếm </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">
            <div class="row">

              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="tenLop">Tên lớp học <span
                  class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                   <select [formControl]="tl" id="tenLop">
                     <option  disabled selected>--Chọn lớp--</option>
                     <option value="" >All</option>
                     <option *ngFor="let lo of lopList" [value]="lo.tenlop">{{lo.tenlop}}</option>
                   </select>
                </div>
              </div>
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="username">Tên học sinh <span
                  class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <input type="text" id="username" name="username" required="required" class="form-control"
                         [(ngModel)]="lopSearch.username" (focus)="lopSearch.username= '' ; doSearch()">
                </div>
              </div>
              <div class="col-md-6 item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="ac">Trạng thái <span
                  class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                  <select [formControl]="ac" id="ac">
                    <option  disabled selected>--Chọn trạng thái--</option>
                    <option value="" >All</option>
                    <option [value]="0">Chưa kích hoạt</option>
                    <option [value]="1">Đã kích hoạt</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="item form-group">
              <div class="col-md-8 col-sm-6 offset-md-5">
                <button type="submit" class="btn btn-success" (click)="doSearch()">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="x_content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-box table-responsive">
          <h5 class="float-right">Tổng số bản ghi : {{lopSearch.totalRecords}}</h5>
          <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
            <!--            <div class="row">-->
            <!--              <div class="col-sm-6">-->
            <!--                <div class="dataTables_length" id="datatable_length"><label>Show <select name="datatable_length"-->
            <!--                                                                                         aria-controls="datatable"-->
            <!--                                                                                         class="form-control input-sm">-->
            <!--                  <option value="10">10</option>-->
            <!--                  <option value="25">25</option>-->
            <!--                  <option value="50">50</option>-->
            <!--                  <option value="100">100</option>-->
            <!--                </select> entries</label></div>-->
            <!--              </div>-->
            <!--              <div class="col-sm-6">-->
            <!--                <div id="datatable_filter" class="dataTables_filter"><label>Search:<input type="search"-->
            <!--                                                                                          class="form-control input-sm"-->
            <!--                                                                                          placeholder=""-->
            <!--                                                                                          aria-controls="datatable"></label>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="row">
              <div class="col-sm-12">
                <table id="datatable" class="table table-striped table-bordered dataTable no-footer"
                       style="width: 100%;" role="grid" aria-describedby="datatable_info">
                  <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="STT: activate to sort column descending" style="width: 84px;">
                      STT
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Mã lớp: activate to sort column ascending" style="width: 185px;">Mã lớp
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Mã lớp: activate to sort column ascending" style="width: 185px;">Tên lớp
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Mã lớp: activate to sort column ascending" style="width: 185px;">Mã thẻ
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Mã lớp: activate to sort column ascending" style="width: 185px;">Tên học sinh
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Ngày khai giảng: activate to sort column ascending" style="width: 225px;">Ngày khai
                      giảng
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Ngày kết thúc: activate to sort column ascending" style="width: 197px;">Ngày kết
                      thúc
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Sĩ Số: activate to sort column ascending" style="width: 99px;">Sĩ Số
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Chi tiết: activate to sort column ascending" style="width: 121px;">Kíp dạy
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Chi tiết: activate to sort column ascending" style="width: 121px;"> Học phí
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                        aria-label="Chi tiết: activate to sort column ascending" style="width: 121px;">Action
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr role="row" class="odd" *ngFor="let lo of lopHocRq ; let i = index">
                    <td class="sorting_1">{{i + 1}}</td>
                    <td>{{lo.maLop}}</td>
                    <td>{{lo.tenLop}}</td>
                    <td>{{lo.maThe}}</td>
                    <td>{{lo.username}}</td>
                    <td>{{lo.startDate| date: 'yyyy-MM-dd'}}</td>
                    <td>{{lo.endDate| date: 'yyyy-MM-dd'}}</td>
                    <td>{{lo.siSo}}</td>
                    <td *ngIf="lo.kipDay == 1">{{kip1}}</td>
                    <td *ngIf="lo.kipDay == 2">{{kip2}}</td>
                    <td *ngIf="lo.kipDay == 3">{{kip3}}</td>
                    <td *ngIf="lo.kipDay == 4">{{kip4}}</td>
                    <td *ngIf="lo.kipDay == 5">{{kip5}}</td>
                    <td>{{lo.hocPhi}}</td>
                    <td>
                      <div class="form-group">
                        <button *ngIf="lo.active === 0" (click)="activeLop(lo.idULM)" class="btn btn-primary"
                                title="Active">Active<span
                          class="icon-line-awesome-edit text-primary"></span></button>
                        <button *ngIf="lo.active === 1" (click)="unActive(lo.idULM)" class="btn btn-primary"
                                title="UnActive">UnActive<span
                          class="icon-line-awesome-edit text-primary"></span></button>
                        <button class="btn-delete" (click)="deleteLop(lo.idULM)" class="btn btn-danger"
                                title="xóa">Xóa<span
                          class="icon-feather-trash-2 text-danger"></span></button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <app-paginator [searchObject]="lopSearch" (searchFunction)="fetch()" ></app-paginator>
      </div>
    </div>
  </div>
</div>
