<div class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>I_&amp;_M</span></a>
          </div>
          <div class="clearfix"></div>
          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Xin chào,</span>
              <h2>NdoubleD</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->
          <br>
          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a href=""><i class="fa fa-home"></i> Trang chủ <span
                  class="fa fa-chevron-down"></span></a>
                </li>
                <li><a [routerLink]="['/admin/qlttgd/checkin']"><i class="fa fa-edit"></i> Quản lý checkin <span
                  class="fa fa-chevron-down"></span></a>
                </li>
                <li><a [routerLink]="['/admin/qlttgd/user']"><i class="fa fa-edit"></i> Quản lý user <span
                  class="fa fa-chevron-down"></span></a>
                </li>
                <li><a [routerLink]="['/admin/qlttgd/teacher']"><i class="fa fa-edit"></i> Quản lý giáo viên <span
                  class="fa fa-chevron-down"></span></a>
                  <!--                  <ul class="nav child_menu">-->
                  <!--                    <li><a href="form.html">General Form</a></li>-->
                  <!--                  </ul>-->
                </li>
                <li><a [routerLink]="['/admin/qlttgd/student']"><i class="fa fa-desktop"></i> Quản lý học sinh <span
                  class="fa fa-chevron-down"></span></a>
                  <!--                  <ul class="nav child_menu">-->
                  <!--                    <li><a href="general_elements.html">Danh sách học sinh</a></li>-->
                  <!--                  </ul>-->
                </li>
                <li><a [routerLink]="['/admin/qlttgd/class']"><i class="fa fa-table"></i> Danh sách lớp học <span
                  class="fa fa-chevron-down"></span></a>
                  <!--                  <ul class="nav child_menu">-->
                  <!--                    <li><a href="tables.html">Tables</a></li>-->
                  <!--                    <li><a href="tables_dynamic.html">Table Dynamic</a></li>-->
                  <!--                  </ul>-->
                </li>
                <li><a [routerLink]="['/admin/qlttgd/topic']"><i class="fa fa-bar-chart-o"></i> Quản lý hạng mục <span
                  class="fa fa-chevron-down"></span></a>
                </li>
                <li><a [routerLink]="['/admin/qlttgd/category']"><i class="fa fa-clone"></i>Quản lý chủ đề <span
                  class="fa fa-chevron-down"></span></a>
                </li>
                <li><a [routerLink]="['/admin/qlttgd/post']"><i class="fa fa-clone"></i>Quản lý bài viết <span
                  class="fa fa-chevron-down"></span></a>
                </li>
                <li><a [routerLink]="['/admin/qlttgd/comment']"><i class="fa fa-clone"></i>Quản lý comment <span
                  class="fa fa-chevron-down"></span></a>
                </li>
                <li><a [routerLink]="['/admin/qlttgd/report']"><i class="fa fa-clone"></i>Báo cáo <span
                  class="fa fa-chevron-down"></span></a>
                </li>
              </ul>
            </div>


          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" href="login.html" data-original-title="Logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>
      <div class="top_nav">
        <app-navbar-admin></app-navbar-admin>
      </div>
      <div class="right_col" role="main" style="min-height: 850px;">
        <div class="">
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <app-footer-admin></app-footer-admin>
    </div>
  </div>
</div>
