<div class="modal-header">
  <h4 class="modal-title">Cập nhật User</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<form [formGroup]="userForm" (ngSubmit)="onEdit()">
  <div class="modal-boy">
    <div class="container">
      <!--      <div class="form-group">-->
      <!--        <label for="maGiaoVien">Mã giáo viên :</label>-->
      <!--        <input type="text"-->
      <!--               class="form-control"-->
      <!--               formControlName="maGiaoVien" id="maGiaoVien"/>-->
      <!--        <div *ngIf="f.maGiaoVien.errors && (f.maGiaoVien.dirty || f.maGiaoVien.touched)" class="text-danger">-->
      <!--          <div *ngIf="f.maGiaoVien.errors.required">Mã giáo viên không được để trống</div>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="form-group">
        <label for="name">Tên :</label>
        <input type="text" class="form-control" formControlName="name" id="name">
        <div *ngIf="f.name.errors && (f.name.dirty || f.name.touched)" class="text-danger">
          <div *ngIf="f.name.errors.required">Tên không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        Giới tính: <select formControlName="gioitinh" id="gioitinh">
        <option value="" selected disabled>--Chọn giới tính--</option>
        <option [value]="Nam">Nam</option>
        <option [value]="Nu">Nữ</option>
      </select>
        <div *ngIf="f.gioitinh.errors && (f.gioitinh.dirty || f.gioitinh.touched)" class="text-danger">
          <div *ngIf="f.gioitinh.errors.required">Giới tính không được để trống</div>
        </div>
      </div>
      <!--      <div class="form-group">-->
      <!--        <label for="birthday">Ngày sinh</label>-->
      <!--        <input type="date" class="form-control" formControlName="birthday" id="birthday">-->
      <!--        <div *ngIf="f.birthday.errors && (f.birthday.dirty || f.birthday.touched)" class="text-danger">-->
      <!--          <div *ngIf="f.birthday.errors.required">Ngày sinh không được để trống</div>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="form-group">
        <label for="address">Quê quán: </label>
        <input type="text" class="form-control" formControlName="address" id="address">
        <div *ngIf="f.address.errors && (f.address.dirty || f.address.touched)" class="text-danger">
          <div *ngIf="f.address.errors.required">Quê quán không được để trống</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Số điện thoại: </label>
        <input type="text" class="form-control" formControlName="phone" id="phone">
        <div *ngIf="f.phone.errors && (f.phone.dirty || f.phone.touched)" class="text-danger">
          <div *ngIf="f.phone.errors.required">Số điện thoại không được để trống</div>
        </div>
      </div>
      <!--      <div class="form-group">-->
      <!--        Kíp dạy: <select formControlName="kipDay" id="kipDay">-->
      <!--        <option value="" selected disabled>&#45;&#45;Chọn kíp dạy&#45;&#45;</option>-->
      <!--        <option [value]="kip1">{{kip1}}</option>-->
      <!--        <option [value]="kip2">{{kip2}}</option>-->
      <!--        <option [value]="kip3">{{kip3}}</option>-->
      <!--        <option [value]="kip4">{{kip4}}</option>-->
      <!--        <option [value]="kip5">{{kip5}}</option>-->
      <!--      </select>-->
      <!--        <div *ngIf="f.kipDay.errors && (f.kipDay.dirty || f.kipDay.touched)" class="text-danger">-->
      <!--          <div *ngIf="f.kipDay.errors.required">Kíp dạy không được để trống</div>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="idRole" formControlName="idRole" [value]="1" (click)="switchTab = 1">Admin
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="idRole" formControlName="idRole" [value]="2"  (click)="switchTab = 2">Giáo viên
        </label>
      </div>
      <div class="form-check-inline disabled">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="idRole" formControlName="idRole" [value]="3" (click)="switchTab = 3">Học sinh
        </label>
      </div>
      <div class="form-group" *ngIf="switchTab === 2">
        <label for="luongcoban">Lương cơ bản :</label>
        <input type="text" class="form-control" formControlName="luongcoban" id="luongcoban">
        <div *ngIf="f.luongcoban.errors && (f.luongcoban.dirty || f.luongcoban.touched)" class="text-danger">
          <div *ngIf="f.luongcoban.errors.required">Lương cơ bản không được để trống</div>
        </div>
      </div>
<!--      <div class="form-group" *ngIf="switchTab === 2">-->
<!--        Tên lớp :<select formControlName="idLop" name="idLop">-->
<!--        <option value="" disabled selected>&#45;&#45;Chọn lớp&#45;&#45;</option>-->
<!--        <option *ngFor="let tl of lopHocList" [value]="tl.id">{{tl.tenlop}}</option>-->
<!--      </select>-->
<!--        <div *ngIf="f.idLop.errors && (f.idLop.dirty || f.idLop.touched)" class="text-danger">-->
<!--          <div *ngIf="f.idLop.errors.required">Lớp học không được để trống</div>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
  <div class="note-user-create">
    Mật khẩu mặc định là :123456
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            [disabled]="userForm.invalid">
      Sửa User
    </button>
    <button class="btn btn-danger" #submitele
            (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
